<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="img/icon.jpg" type="icon/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Eater&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.css" />
    <link rel="shortcut icon" href="../static/ico/ico.png" type="image/x-icon">
    <link rel="stylesheet" href="../static/style/normalize.css">
    <link rel="stylesheet" href="../static/style/style.css">
    <title>Agüizotes</title>
</head>

<body>
    <!-- div .wrapp -->
    <div class="wrapp" data-barba="wrapper">

        <div class="preloader">
            <span class="preloader__bg"></span>
            <div class="preloader__wrapp">
                <img class="preloader__img" src="../static/img/ghost-w.png" alt="">
                <img class="preloader__img" src="../static/img/pumpkin.png" alt="">
                <img class="preloader__img" src="../static/img/ghost-w.png" alt="">
                <span class="preloader__txt">Agüizotes...</span>
            </div>
        </div>

        <main class="main" data-barba="container" data-barba-namespace="second">

            <section class="section second_page">

                <span class="section__bg section__bg-2"></span>
                <img class="section__bg-el bg_img1" src="../static/img/web1.png" alt="">
                <img class="section__bg-el bg_img2" src="../static/img/spider-web.png" alt="">
                <img class="section__bg-el bg_img3" src="../static/img/web1.png" alt="">
                <img class="section__bg-el bg_img4" src="../static/img/web2.png" alt="">

                <div class="section__bl">

                    <div class="content">

                        <div class="section__wrapp">

                            <div class="section__text">
                                <h1 class="title">
                                    <span>Halloween</span>
                                    <img class="title__img" src="../static/img/witch.png" alt="witch">
                                </h1>
                                <p class="descript">Los Agüizotes que en la lengua Náhuatl significa “espanto cerca del agua”, es también una celebración popular enmarcada en las fiestas de San Jerónimo en Masaya, Patrono de esa Ciudad. Para los masayas, esta tradición es una herencia que ha pasado de generación en generación y que sigue siendo parte de la identidad de la ciudad de las Flores.</p>
                                <a href="../index.html" class="btn-link link_s">Inicio <img src="../static/img/ghost-b.png"
                                        alt="ghost black"><img src="../static/img/ghost-w.png" alt="ghost white"></a>
                            </div>
                            <div class="section__img">
                                <img src="../static/img/05.jpg" alt="" data-fancybox="gallery" data-src="../static/img/05.jpg">
                                <img src="../static/img/06.jpg" alt="" data-fancybox="gallery" data-src="../static/img/06.jpg">
                                <img src="../static/img/07.jpg" alt="" data-fancybox="gallery" data-src="../static/img/07.jpg">
                                <img src="../static/img/08.jpg" alt="" data-fancybox="gallery" data-src="../static/img/08.jpg">
                            </div>
                        </div>

                    </div>

                </div>

            </section>
        </main>
    </div>
    <!-- /div .wrapp END -->
    <script src="https://cdn.jsdelivr.net/npm/@barba/core"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/gsap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js"></script>
    <script src="../static/scripts/js.js"></script>
</body>

</html>